.section-title {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.375rem;
  font-weight: 300;
}

.project3-container {
  height: calc(100% - (165 + 6 * clamp(10px, 4vmin, 40px)));
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-column-gap: clamp(10px, 4vmin, 40px);
  overflow-y: hidden;
  padding-bottom: clamp(10px, 4vmin, 40px);
}

.grid1 {
  height: 100%;
  overflow-y: scroll;
}

.grid1::-webkit-scrollbar {
  display: none;
}

.horizontal-navbar .navbar ul{
  display: flex;
  flex-direction: row;
  gap: clamp(10px, 4vmin, 40px);
  max-width: 450px;
}

@media (max-width: 1920px) {
  .project3-container {
    min-width: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    overflow-y: scroll;
  }
  .project3-container::-webkit-scrollbar {
    display: none;
  }
  .grid1 {
    min-width: 0;
    height: 100%;
    overflow-y: visible;
  }
}