.scatterplot-container {
  padding: 0;
}

.modebar-container {
  display: none;
}

.project1-container .section-title {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.375rem;
  font-weight: 300;
}
