/* Create a container for the columns */
.column-container {
  display: flex;
  justify-content: space-between;
  /* gap: clamp(10px, 4vmin, 40px); */
}

/* Style the individual columns */
.column {
  flex: 1 1 clamp(200px, 40%, 800px);
  margin: 0 calc(0.5 * clamp(10px, 4vmin, 40px));
  /* padding: clamp(10px, 4vmin, 40px); */
  /* background-color: #f0f0f0; */
  /* box-shadow: 0 0 10px rgba(255,255,255,1); */
}

/* Adjusting column properties */
.column:nth-child(1) {
  order: 1;
  margin-left: 0;
  text-align: left;
}

.column:nth-child(2) {
  order: 2;
  text-align: left;
}

.column:nth-child(3) {
  order: 3;
  margin-right: 0;
  text-align: left;
}

.column-container .section-title {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.375rem;
  font-weight: 300;
}

.column-container .section-subtitle {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.25rem;
  text-align: left;
  font-weight: 300;
}

.laser-Trapping img {
  height: 100%;
  width: 100%;
}

.column-parent {
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 400px;
}

.column-parent::-webkit-scrollbar {
  display: none;
}

.column:nth-child(1) .laser-Trapping {
  display: flex;
  padding-left: clamp(10px, 4vmin, 100px);
  padding-right: clamp(10px, 4vmin, 100px);
  /* padding-top: clamp(10px, 4vmin, 40px); */
}

.equipment-list div {
  text-align: left;
}

@media (max-width: 1200px) {
  .column-container {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  /* body {
    height: auto;
    min-height: 100vh;
    overflow-y: visible;
  } */

  .column-container {
    flex-direction: column;
  }

  .column-parent {
    height: 100vh;
    overflow-y: scroll;
    padding-bottom: 400px;
  }

  .column-parent::-webkit-scrollbar {
    display: none;
  }
}
