/* Create a container for the columns */
.column-container {
  display: flex;
  justify-content: space-between;
  /* gap: clamp(10px, 4vmin, 40px); */
  padding-top: clamp(10px, 4vmin, 40px);
}

/* Style the individual columns */
.column {
  flex: 1 1 clamp(200px, 40%, 800px);
  margin: 0 calc(0.5 * clamp(10px, 4vmin, 40px));
  /* padding: clamp(10px, 4vmin, 40px); */
  /* background-color: #f0f0f0; */
  /* box-shadow: 0 0 10px rgba(255,255,255,1); */
}

/* Adjusting column properties */
.column:nth-child(1) {
  margin-left: 0;
  text-align: left;
}

.column:nth-child(2) {
  text-align: center;
}

.column:nth-child(3) {
  text-align: center;
}

.column:nth-child(4) {
  margin-right: 0;
  text-align: right;
}
