.projects-nav {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 7px;
    position: absolute;
    overflow-y: scroll;
    top: 0;
    left: 0;
    /* transform: translatex(calc(100vw - (186.33px + 2 * clamp(10px, 4vmin, 40px)))); */
    padding-top: calc(3 * clamp(10px, 4vmin, 40px) + 62px);
    /* filter: blur(2px); */
}
.project-summary {
    text-align: right;
    font-size: 1rem;
    font-weight: 300;
    text-decoration: none;
}

.projects-nav::-webkit-scrollbar {
    display: none;
}

.project-title {
    text-align: right;
    font-size: 1.875rem;
    font-weight: 300;
    text-decoration: none;
}

.projects-nav p {
    font-weight: 600;
    position: absolute;
    right: 0;
}

.projects-nav a:hover {
    color: #6F6F6F;
}

.projects-nav a {
    text-decoration: none;
    color: black;
}

.nav-aligner {
    overflow: visible;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
    /* position: relative; */
}

.web-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: clamp(10px, 4vmin, 40px);
}

/* .transparent-border {
    width: 100%;
    height: 100%;
    background-color: #ffffffa6;
    z-index: 0;
    position: relative;
}

.transparent-border::before {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
    z-index: -1;
} */

/* .square {
    box-shadow: 0 0 0 clamp(10px,4vmin,40px) black; */
/* filter: blur(2px);
} */