.author-summary {
  width: 30%;
  position: absolute;
  bottom: clamp(10px, 4vmin, 40px);
  right: clamp(10px, 4vmin, 40px);
  text-align: right;
  overflow-y: scroll;
}

.author-summary::-webkit-scrollbar {
  display: none;
}

@media (max-width:600px){
  .author-summary {

    display: flex;
    text-align: left;
    position: relative;
    width: 100%;
    /* left: clamp(10px, 4vmin, 40px); */
    margin-right: 0;
    padding-right: 0;
    padding-left: clamp(10px, 4vmin, 40px);
    /* padding-top: clamp(10px, 4vmin, 40px); */
    overflow-y: scroll;
    /* top: calc(3px + 13.5 * clamp(10px, 4vmin, 40px)); */
    /* text-align: left; */
  }
}