* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  box-sizing: border-box;
  color: #ffffff;
  /* border: solid 1px #00000080; */
}

body {
  overflow: hidden;
  background-color: #898989;
  width: 100vw;
  height: 100vh;
  padding: clamp(10px, 4vmin, 40px);
}

.square {
  border: solid 1px #00000080;
  width: auto;
  height: 100%;
  margin: 0;
  opacity: 1;
  padding: clamp(10px, 4vmin, 40px);
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 4vmin, 40px);
  overflow-y: hidden;
}

.author-title {
  font-size: 1.875rem;
  font-weight: 600;
}

.author-descriptor {
  font-size: 1rem;
  font-weight: 600;
}

.nav {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.nav li {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
}

.nav-link:hover {
  color: #000000;
}

.permanent-elements {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 4vmin, 40px);
}

.summary-container {
  height: 100%;
  display: flex;
  font-size: 0.875rem;
}

canvas {
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 1;
  z-index: -1;
  margin: 0;
  padding: clamp(10px, 4vmin, 40px);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
